header {
    background-color: black;
    color: aliceblue;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    height: 70px;
    top: 0;
    left: 0;
    position: sticky;
    margin-bottom: 0;
    
}
body {
    margin: 0;
    padding: 0;
}
.logo{
    margin-top: 20px;
    margin-bottom: 20px;
}
.options {
    margin-bottom: 12px;
    display: flex;
    gap: 35px;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.options li{
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

li:hover {
    color: blueviolet;
    transform: scale(1.1)
}
.talk-button {
    background-color: blueviolet;
    border: none;
    color: aliceblue;
    border-radius: 5px;
    height: 42px;
    width: 92px;
    padding: 10px;
    font-weight:549;
    font-size: 14px;
}

.face {
   background-color: aqua;
   margin-top: 0;
   padding: 4px;
   text-align: center;
   background-image: linear-gradient(to bottom right, black, rgb(37, 21, 49), black);
}

.face h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 93px;
    margin-top: 24px;
    line-height: 1;
    color: aliceblue;
    margin-bottom: 0;
    animation: fadeIn 0.8s ease-in-out;

}

@keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(70px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

.span1 {
    background-image: linear-gradient(to bottom right, blueviolet , white 90%);
    background-clip: text;
    color: transparent;
}

.span2 {
    background-image: linear-gradient(to top right, white , rgb(187, 114, 255));
    background-clip: text;
    color: transparent;
}

.face p {
    color: grey;
    font-size: 21px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeIn 1.2s ease-in-out;

}

.landing-buttons{
    display: flex;
    gap: 20px;
    justify-content: center;

}

.landing-buttons button {
    border-color: blueviolet;
    border-width: 1px;
    color: aliceblue;
    border-radius: 11px;
    height: 57px;
    width: auto;
    font-weight: bold;
    padding: 10px 38px;
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 35px;
}

.first-button {
    animation: fadeIn 1.4s ease-in-out;
    background-image: linear-gradient(to top right, black 40%,  rgb(178, 75, 178));
    transition: transform 0.3s ease;

}

.first-button:hover {
    background-image: linear-gradient(to top right, rgb(178, 75, 178),  black 70%);
    transform: scale(1.1)
      

}
.second-button {
   animation: fadeIn 1.8s ease-in-out;
   background-image: linear-gradient(to top right, black 30%,  blueviolet);
   transition: transform 0.3s ease;


}

.second-button:hover {
    background-image: linear-gradient(to top right, blueviolet,  black 85%);
    transform: scale(1.1)

}

.badges-div {
    margin-top: 40px;
    padding-top: 7px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 55px;
    
}

.badge {
    color: aliceblue;
    height: 160px;
    width: 22%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid rgb(54, 53, 53);
    background-color: rgb(30, 17, 39);
  transition: transform 0.6s ease;

}
.badge:hover{
    border: 1px solid blueviolet;
    transform: translateY(-5px);
    background-color: rgb(37, 9, 54);
 }
.badge h2 {
    margin-bottom: 0;
    font-size: 50px;

}

.badge p{
    margin-top: 2px;
    font-size: 15px;
    
}

.built-for-impact {
    text-align: center;
    padding-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.built-for-impact h2 {
    font-weight: bold;
    font-size: 35px;
    color: blueviolet;
    margin-bottom: 10px;
}

.built-for-impact p {
    font-size: 18px;
    color: gray;
    margin-top: 0;
}